@media screen and (max-width:400px){
    
}
@media screen and (max-width:600px){

}

@media  screen and (min-width:601px) {
    .navibar{
        /* background-color: lime; */
        font-weight: bold;
        font-size: 1.2em;
        padding: 10px;
    }
    .navibar >a{
        text-decoration: none;
    }
    .navi-button{
        background-color: lime;
        color: black;
        padding: 15px;
        margin: 10px;
        width: 200px;
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 2px 2px black;
    }
    .navi-button:hover{
        box-shadow: -2px -2px black;
        background-color: yellow;
    }
  
}